# Ignore virtual environments
venv/
myenv/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment/config files
credentials.json
.env
*.env
.env.*

*.csv
app2.py.DS_Store
.cache_ggshield
.DS_Store
.cache_ggshield
encoded_credentials.txt
__pycache__/
*.pyc
*.pyo
.env
venv/
.idea/
.vscode/
*.log
